@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Assistant:wght@500&family=Dosis:wght@200..800&family=Bebas+Neue&family=Heebo:wght@100..900&family=Indie+Flower&family=Permanent+Marker&family=Tac+One&family=Teko:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-roboto {
  font-family: "Tac One", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;

  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.heebo-regular {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.teko-regular {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  letter-spacing: 1px;
  font-style: normal;
}
.teko-bold {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.assistant-regular {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dosis-regular {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.dosis-bold {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
